<mz-card
  [horizontal]="false"
  [hoverable]="false">
  <mz-card-image>
    <img style="width: auto; margin: 0 auto" [src]="offer.Cloudinarize(offer.image, '250', 'c_fill')" alt="image">
  </mz-card-image>
  <mz-card-title style="color: black;">
    {{ offer.franchise.name }} - {{ offer.description }}
  </mz-card-title>
  <mz-card-image-title style="color: white">
    {{ offer.name }}
  </mz-card-image-title>
  <mz-card-content>
    <span>Savings: {{ offer.savings }}</span>
    <br>
    <br>
    <span>Payout: {{ offer.refund | currency }}</span>
    <br>
    <br>
    <span>Location(s): <span *ngFor="let location of offer.locations">{{ location.formatted }}</span></span>
  </mz-card-content>
</mz-card>
