<div class="flexible absolute">
  <form class="fd-form flexible no-min column centerize" noBack fill #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <div class="spacer"></div>
    <h1 class="fd-form-title" cursive primary>Mercial Admin</h1>
    <div class="break" small></div>
    <h3 class="fd-form-subtitle" primary>Salve!</h3>
    <div class="break" medium></div>
    <div class="fd-input-holder">
      <input type="text" primary placeholder="Key" autofocus name="key" autocomplete="off" required ngModel class="fd-input">
    </div>
    <div class="break" small></div>
    <div class="fd-input-holder" *ngIf="continued">
      <input type="text" primary placeholder="Passcode" autofocus name="password" autocomplete="off" ngModel required class="fd-input">
    </div>
    <div class="break" small *ngIf="continued"></div>
    <button class="fd-button ripple" type="button" *ngIf="!continued" (click)="onContinue(loginForm)">continue</button>
    <button class="fd-button ripple" type="submit" *ngIf="continued">log in</button>
  </form>
</div>
