<div class="tb" flat *ngIf="authService.isAuthenticated()">
  <span no-collapse class="tb-spacer"></span>
  <button cursive no-collapse class="md-24 tb-btn ripple mlr-small" ripple-color="main" type="button">
  Mercial
  </button>
  <span no-collapse class="tb-spacer"></span>
  <button primary no-collapse class="md-14 tb-btn-round btn-background" ripple-color="main" type="button" routerLink=
  "/messages">
    <i class="material-icons right">forums</i>
  </button>
</div>

<router-outlet></router-outlet>

<div class="tb bottom" *ngIf="authService.isAuthenticated()">
  <button no-collapse class="tb-btn" type="button" routerLinkActive="tb-active-link" [routerLinkActiveOptions]="{exact:true}">
    <a nested class="tb-link" routerLink="/videos" queryParamsHandling="merge"></a>
    <i class="md-28 material-icons">video_library</i>
  </button>
  <button no-collapse class="tb-btn" type="button" routerLinkActive="tb-active-link" [routerLinkActiveOptions]="{exact:true}">
    <a nested class="tb-link" routerLink="/home" queryParamsHandling="merge"></a>
    <i class="md-28 material-icons">home</i>
  </button>
  <button no-collapse class="tb-btn" type="button" routerLinkActive="tb-active-link" [routerLinkActiveOptions]="{exact:true}">
    <a nested class="tb-link" routerLink="/offers" queryParamsHandling="merge"></a>
    <i class="md-28 material-icons">local_offer</i>
  </button>
</div>
