.addToHome {
  position: fixed;
  bottom: 80px;
  left: calc(50% - 150px);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 10px 5px 10px 5px;
  z-index: 10000;
  background: #373737;
  color: white;
  border-radius: 8px;
}

.tb {
  background-color: white;
  min-height: 64px;
  height: auto;
  width: 100%;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  padding-left: 12.5px;
  padding-right: 12.5px;
  z-index: 3;
  position: relative;
  flex-wrap: wrap;

  &.bottom {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
    bottom: 0;
    min-width: 320px;
    flex-wrap: nowrap;

    & > button {
      background: transparent;
      background-color: transparent;
      flex-basis: 25%;

      &.tb-active-link {
        color: #663399;

        &:after {
          content: "";
          width: 100px;
          border-radius: 20px;
          height: 40px;
          position: absolute;
          left: calc(50% - 50px);
          top: calc(50% - 22px);
          background: #663399;
          opacity: 0.4;
        }
      }
    }
  }

  & mz-progress {
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;

    & .progress {
      background: rgba(102,51,153, 0.3);
      background-color: rgba(102,51,153, 0.3);

      & .indeterminate {
        background: #663399;
        background-color: #663399;
      }
    }
  }
}

.tb[flat] {
  box-shadow: none;
  background-color: transparent;
}

.tb[flat] .tb-btn {
  color: var(--primary);
}

.tb-active-link {
  font-weight: 700;
  cursor: default;
}

.tb-menu {
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.tb-spacer {
  flex: 1 1 auto;
}

.tb-btn {
  height: 42px;
  border: none;
  color: #666;
  font-size: 14px;
  border-radius: 2px;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 80px;
  transition: all 0.5s ease-in-out;

  &[disabled] * {
    color: #CCC;
  }

  &[disabled] a {
    pointer-events: none;
  }
}

.btn-background {
  background: rgba(102,51,153,0.2) !important;
  background-color: rgba(102,51,153,0.2) !important;

  &:focus {
    background: rgba(102,51,153,0.2) !important;
    background-color: rgba(102,51,153,0.2) !important;
  }
}

.tb-btn.scale:hover {
  transform: scale(1.1);
  font-size: 16px;
}

@media (max-width: 500px) {
  .tb-btn:hover {
    transform: none !important;
    font-size: 14px !important;
  }
}

.tb-btn-round {
  height: 44px;
  border: none;
  border-radius: 22px;
  position: relative;
  width: 44px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  & > i {
    margin-left: 25px;
  }
}

.tb-link {
  position: absolute;
  top: 0;
  left: 0;
}

.tb-text {
  color: white;
  font-size: 16px;
}

@media (max-width: 900px) {

  .tb-spacer[collapsable] {
    width: 100%;
  }

  .tb {
    padding: 0;
  }

  .tb-btn:not([no-collapse]) {
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .tb-btn {
    min-width: 50px;
  }

  .tb-btn[no-collapse] {
    margin-left: 2px !important;
    margin-right: 2px !important;
  }

  .tb.bottom > button.tb-active-link:after {
    width: 80px;
    left: calc(50% - 40px);
  }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .tb.bottom {
    min-height: 74px;
  }
}
