<mz-card
  [horizontal]="false"
  [hoverable]="false">
  <mz-card-image>
    <video preload="metadata" [poster]="mercial.Cloudinarize(mercial.thumbnail, 'auto', 'h_'+mercial.heightPixel+',c_lfill,g_auto')" [src]="mercial?.Cloudinarize(mercial.video, width, 'vc_auto,q_auto', true, '.mp4')" type="video/mp4"></video>
  </mz-card-image>
  <mz-card-title style="color: black;">
    ${{ mercial.getPPV() * mercial.duration | number }} - {{ mercial.description }}
  </mz-card-title>
  <mz-card-image-title style="color: #663399">
    {{ mercial.title }}
  </mz-card-image-title>
  <mz-card-content>
    <span>Duration: {{ mercial.duration }}s</span>
    <br>
    <br>
    <span>Merchips: {{ mercial.merchips }}</span>
    <br>
    <br>
    <span>Tags: {{ mercial.tags }}</span>
  </mz-card-content>
  <mz-card-action>
    <a href="link" *ngFor="let link of mercial.more">{{ link }}</a>
  </mz-card-action>
</mz-card>
