<div class="container">
  <mz-collapsible
  [mode]="'expandable'" *ngFor="let message of messages; let i = index">
  <mz-collapsible-item>
    <mz-collapsible-item-header>
      {{ message.mercial ? message.mercial.title : message.offer.name }}
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      {{ message.mercial ? message.mercial.description : message.offer.description }}
    </mz-collapsible-item-body>
  </mz-collapsible-item>
  <mz-collapsible-item *ngFor="let report of message.reports">
    <mz-collapsible-item-header>
      {{ report.moderator ? 'Admin' : 'User' }} - {{ reasons[report.reason] }}
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      {{ report.expand }}
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
</div>
