@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #663399;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  background-color: #f7f7f7;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-outline: none;
  -moz-outline: none;
  font-display: swap;
  font-family: 'Open Sans', sans-serif;
}


.card-title {
  padding-top: 0px !important;
}

button {
  user-select: none;
  cursor: pointer;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  & > .content {
    width: 100%;
    flex: 1 1 auto;

    &[auth] {
      padding-bottom: 64px;
    }
  }
}

app-home, app-videos, app-offers, app-messages {
  flex: 1 1 auto;
}

.md-14 {
  font-size: 14px !important;
}
.md-16 {
  font-size: 16px !important;
}
.md-18 {
  font-size: 18px !important;
}
.md-24 {
  font-size: 24px !important;
}
.md-28 {
  font-size: 28px !important;
}


*[primary] {
  color : var(--primary) !important;
}

*[white] {
  color : white !important;
}

*[cursive] {
  font-display: swap;
  font-family: 'Satisfy', cursive !important;
}

*[clickable] {
  cursor: pointer;
}

a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a[nested] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

a[inline] {
  color: var(--primary);
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.bold {
  font-weight: bold;
}

.break {
  width: 100%;
  display: block;

  &[small] {
    height: 25px;
  }

  &[medium] {
    height: 50px;
  }

  &[large] {
    height: 75px;
  }
}

.mlr-small {
  margin-left: 12.5px !important;
  margin-right: 12.5px !important;
}

button:focus {
  background-color: #663399 !important;
}

button:not(.ripple):not(.big):not(.little):not(.btn-background), button:not(.ripple):not(.big):not(.little):not(.btn-background):focus {
  background-color: transparent !important;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
  background-color: var(--primary);
  color: white;
}
.ripple:disabled {
  background-color: #D3D3D3 !important;
  pointer-events: none;
  color: white !important;
}
.ripple:hover {
  background: var(--primary) radial-gradient(circle, transparent 1%, var(--primary) 1%) center/15000%;
}
.ripple:active {
  background-color: #f7f7f7 !important;
  background-size: 100%;
  transition: background 0s;
}

.fd-button[ripple-color="main"] {
  color: var(--primary);
}
.ripple[ripple-color] {
  background-position: center;
  transition: background 0.8s;
  background-color: #f7f7f7 !important;
}
.ripple[ripple-color]:hover {
  background: #f7f7f7 radial-gradient(circle, transparent 1%, #f7f7f7 1%) center/15000% !important;
}
.ripple[ripple-color="main"]:active {
  background-color: var(--primary) !important;
  background-size: 100%;
  transition: background 0s;
}

.fd-button[ripple-color="warning"] {
  color: red;
}
.ripple[ripple-color="warning"]:active {
  background-color: red !important;
  background-size: 100%;
  transition: background 0s;
}

/*
  Hereafter ripple color will default to white & ripple btn background will default to 22313F

  TO CHANGE use the following css in needed file(s)
  .ripple {
    background-color: #22313F; #background color
  }
  .ripple:hover {
    background: radial-gradient(circle, transparent 1%, #22313F 1%) center/15000%; #background color
  }
  .ripple:active {
    background-color: #fff; # ripple color
  }
*/

.flexible {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  background-image: url("https://res.cloudinary.com/aurodim/image/upload/mercial/static/wave.png");
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: calc(100% - 64px);
  height: auto;
  flex-wrap: wrap;
  background-size: contain;

  &[noBack] {
    background-image: none;
  }

  &.absolute {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &.centerize {
    align-items: center;
    justify-content: center;
  }

  &.column {
    flex-direction: column;
  }

  &.no-min {
    min-height: 100%;
  }

  & .spacer {
    flex: 0 0 auto;
  }
}

@media (max-width: 500px) {
  .flexible {
    background-image: url("https://res.cloudinary.com/aurodim/image/upload/mercial/static/wave-mobile.png");
  }
}

@media (max-height: 600px) {
  .flexible {
    background-image: none;
  }
}

.card {
  width: 100%;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 1.875em !important; /* 30/16 */
  background: transparent;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0em 0.063em 0.625em 0.063em rgba(0,0,0,0.1) !important; /* 0/16, 1/16, 10/16, 1/16 */

  &[tinted]::before {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    content: "";
    background: rgba(0,0,0,0.65);
    z-index: 1;
    border-radius: 1.875em; /* 30/16 */
  }

  &[column] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  & .fd-input-holder {
    width: 100% !important;
    max-width: 500px;
  }

  &[has-icon] > .material-icons {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgba(102,51,153, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &[size="small"] {
    min-height: 15.625em; /* 250/16 */

    & .mercials-image {
      min-height: 15.625em; /* 250/16 */
    }
  }

  &[size="medium"] {
    min-height: 23.75em; /* 300/16 */

    & .mercials-image {
      min-height: 23.75em; /* 300/16 */
    }
  }

  &[size="large"] {
    min-height: 26.875em; /* 350/16 */

    & .mercials-image {
      min-height: 26.875em; /* 350/16 */
    }
  }

  & .mercials-image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 1.875em !important; /* 30/16 */
  }
}

.card-title {
  position: relative;
  font-size: 1.7rem !important;
  width: 100%;
  color: #fff !important;
  display: flex;
  white-space: normal;
  justify-content: center;
  text-align: left;
  padding-top: 1.575em; /* 30/16 */
  padding-bottom: 0.313em; /* 5/16 */
  padding-right: 0.4em;
  padding-left: 0.4em;
  align-items: center;
  text-align: center;
  z-index: 1;

  &.primary {
    color: #663399 !important;
  }
}

.card-subtitle {
  font-size: 1.2rem !important;
  position: relative;
  width: calc(100% - 0.8em);
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-bottom: 0.4em;
  white-space: normal;
  text-align: center;
  color: #fff !important;
  z-index: 1;

  &[tags] {
    font-size: 1rem !important;
  }

  &.primary {
    color: #663399 !important;
  }
}

.card-spacer {
  flex: 1 1 auto;
}

.card-special {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 70px;
  border-top-right-radius: 30px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  z-index: 3;
  color: #663399;
  border-bottom-left-radius: 26px;
}

.card-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-bottom: 1.25em; /* 20/16 */

  & button {
    border: none;
    outline: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.625em; /* 10/16 */
    margin-right: 0.625em; /* 10/16 */
  }

  & button.little {
    background: #222;
    font-size: 0.75em; /* 12/16 */
    height: 2.8em; /* 30/16 */
    width: 2.8em; /* 30/16 */

    &:hover {
      background: #222;
    }
  }

  & button.big {
    background: white;
    height: 2.813em; /* 45/16 */
    width: 2.813em; /* 45/16 */
    font-size: 1.25em; /* 20/16 */

    & * {
      font-size: 1.8em; /* 20/16 */
    }

    &:hover {
      background: white;
    }
    & ion-icon {
      color: black;

      &.ion-ios-play:before {
        margin-left: 0.1em; /* 5/16 */
      }
    }
  }
}

.viewer-container-hide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  max-width: 60em;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.8);
  color: #663399;
  z-index: 100000;
  bottom: 3em;
  width: 98%;
  height: 3em;

  &.mercial-viewer {
    top: 2em;
    right: 2%;
    height: 2em;
    width: 2em;
    left: auto;
    bottom: auto;
  }

  &.postview {
    top: 3.5em;
  }

  &.full {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}

.spinner-layer {
  border-color: #663399 !important;
}

.viewer-container {
  height: auto;
  margin: 0 auto;
  position: relative;
  border-radius: 1.25em; /* 20/16 */
  max-height: 95%;
  min-height: 18.75em; /* 300/16 */
  width: calc(100% - 1.25em); /* 20/16 */
  box-shadow: 0em 0.125em 0.938em 0.063em rgba(0, 0, 0, 0.3); /* 0/16, 2/16, 15/16, 1/16 */
  z-index: 2;
  overflow: hidden;
  display: flex;
  max-width: 60em;
  justify-content: center;
  align-items: center;
  background: black;
  animation: 0.2s ease-out 0s 1 videoGrow;

  mz-spinner.video {
    position: absolute;
    z-index: 10000;
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }

  .spinner-layer {
    border-color: #663399 !important;
  }

  & * {
    animation: 0.2s ease-out 0s 1 videoShrink;
  }

  &[ended] {
    background: transparent;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

  &[qr] {
    position: relative;
    background: white;
    flex-direction: column;
    flex-wrap: wrap;

    &.ended {
      background: transparent;
      box-shadow: none;
    }

    & cl-image {
      padding-top: 10px;
      flex-basis: 90%;
      object-fit: fill;
      image-rendering: pixelated;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .fd-redeem-fast {
      position: absolute;
      right: 20px;
      bottom: 20px;
      font-size: 32px;
    }

    & .fd-redeem-auth {
      flex-basis: 10%;
      width: 100%;
      text-align: center;
      letter-spacing: 3.5px;
    }
  }
}

.fd-redeem-code {
  height: auto;
  width: 100%;
  max-width: 28em; /* 600/16 */
  fill: #663399;
  padding: 0.313em; /* 5/16 */
  border-top-left-radius: 1.25em; /* 20/16 */
  border-top-right-radius: 1.25em; /* 20/16 */

  img {
    margin-bottom: 0;
  }
}

@keyframes videoGrow {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes videoGrow {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.fini {
  border-radius: 0.713em; /* 5/16 */
  width: 18.75em; /* 300/16 */
  height: 10.625em; /* 250/16 */
  top: calc(40% - 5em); /* 125/16 */
  left: calc((100% - 18.75em) / 2); /* 300/16 */
  position: absolute;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  &.error {
    background: #f53d3d;
  }

  &.success {
    background: #663399;
  }

  &.clear {
    background: rgba(255,255,255,0.95);
  }

  & .ssi {
    font-size: 5.375em !important; /* 54/16 */

    &[congrats] {
      font-size: 1.5em !important;
      text-align: center;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  &.bottom {
    height: 6.25em; /* 100/16 */
    top: calc(40% + 9.375em); /* 150/16 */

    & .ssi {
      font-size: 3.375em !important; /* 54/16 */
    }
  }

  & .ssi {
    color: white !important;
  }

  & .ssi[primary] {
    color: #663399 !important;
    font-size: 3.375em !important;
  }
}

.fd-modal-video-handler {
  width: 100%; /* 20/16 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  max-width: 60em;
  position: absolute;
  background: rgba(0,0,0,0.8);
  border-radius: 1.25em; /* 20/16 */
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;

  &[hideBack] {
    z-index: -10;
    opacity: 0;

    & * {
      z-index: -10;
      opacity: 0;
    }
  }

  & .time-text {
    color: white;
    position: relative;
    font-size: 0.8em; /* 12/16 */
    bottom: 4.5em; /* 40/16 */
    display: block;
    width: 95%; /* 80/16 */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & .play-pause {
      font-size: 2.4em; /* 26/16 */
      margin-right: 8px;
      color: #e7e7e7;
    }

    & .spacer {
      flex: 1 1 auto;
    }
  }

  & .timekeeper {
    position: relative;
    left: 0em; /* 0/16 */
    bottom: 2em; /* 20/16 */
    height: 0.5em; /* 8/16 */
    width: 95%; /* 80/16 */
    background: #e7e7e7;
    border-radius: 1.25em; /* 20/16 */
  }

  & .tks {
    width: 0%;
    position: absolute;
    left: 0;
    border-top-left-radius:1.25em; /* 20/16 */
    border-bottom-left-radius:1.25em; /* 20/16 */
    background: #663399;
    animation-name: timekeeper;
    animation-duration: 100s;
    animation-timing-function: linear;
    height: 100%;

    &.paused {
      animation-play-state: paused;
    }

    &::after {
      content: "";
      width: 1.125em; /* 18/16 */
      height: 1.125em; /* 18/16 */
      border-radius: 50%;
      background: #4b256f;
      z-index: 10000;
      display: block;
      top: -0.281em; /* -4.5/16 */
      transition: left 1s;
      position: absolute;
      left: calc(100% - 0.563em); /* 9/16 */
    }
  }
}

@keyframes timekeeper {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.fd-modal-video {
  background: black;
  max-height: 31.25em; /* 500/16 */
  max-width: 100%;
  width: fit-content;
  z-index: 1;
}

app-feed-viewer, app-redeem-viewer {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  background: rgba(0,0,0,0.8);
  top: 0;
  width: 100%;
  z-index: 1000000000000;
}

.card-spacer {
  flex: 1 1 auto;
}

.filter-viewer-backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1000000;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  & .filter-container {
    position: absolute;
    padding-top: 10px;
    bottom: 0em; /* 0/16 */
    overflow: scroll;
    width: calc(100% - 1.25em); /* 20/16 */
    z-index: 10000000;
    background: white;
    border-top-left-radius: 1.25em; /* 20/16 */
    border-top-right-radius: 1.25em; /* 20/16 */
    min-height: 3em; /* 48/16 */
    max-height: 95%;
    max-width: 60em;
    transition: all 0.3s;
    padding-left: 10px;
    padding-right: 10px;

    &.active {
      transform: translateY(0);
    }

    & h3 {
      font-size: initial;
      color: #663399;
    }
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

.select-dropdown {
  color: #663399;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #663399;
    border-radius: 14px !important;
}

mz-collection {
  border: none !important;

  & > .collection {
    border: none !important;
  }
}

.fd-form {
  position: relative;
  height: auto;
  padding-bottom: 10px;
}

.fd-form[fill] {
  width: 100%;
  overflow: auto;
}

.fd-form-title {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5em; /* 52/16 */
  text-align: center;
  flex-direction: column;
  margin: 0;
  margin-top: 0;
}

.fd-form-subtitle {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0;
  margin-top: 0;
  font-size: 20px;
}

.fd-form-text {
  position: relative;
  font-size: 14px; /* 16/16 */
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  display: inline-block;
}

.fd-form-text.main {
  font-weight: bold;
}

.fd-form-text[center] {
  text-align: center;
}

.fd-basis {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fd-basis[fifty] {
  flex-basis: 50%;
}

.fd-basis-full {
  flex-basis: 100% !important;
  height: 100%;
  position: absolute;
  top: 0;
}

*[bold] {
  font-weight: bold !important;
}

*[absolute] {
  position: absolute;
}

*[caps] {
  text-transform: uppercase;
}

.fd-input-holder {
  background: white;
  background-color: white !important;
  border-radius: 1.25em; /* 20/16 */
  width: auto;
  border: 0.125em solid transparent; /* 2/16 */
  box-shadow: 0em 0.063em 0.625em 0.063em rgba(0,0,0,0.1); /* 0/16, 1/16, 10/16, 1/16 */
  position: relative;
}

.fd-input {
  min-width: 300px;
  border: none !important;
  height: 100%;
  margin-bottom: 0px !important;
  text-align: center;
  padding-left: 6px !important;
  padding-right: 6px !important;
  width: calc(100% - 12px) !important;

  &:focus {
    border: none !important;
    box-shadow: none !important;
    margin-bottom: 0px;
  }
}

input[type="password"][bullet] {
  letter-spacing: 0.188em; /* 3/16 */
}

.fd-button {
  width: 150px;
  height: 45px;
  border-radius: 25px;
  outline: none;
  border: none;
  text-transform: uppercase;
  position: relative;
}

.picker__holder {
  pointer-events: none;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #663399 !important;
}

[type="checkbox"]:checked+label:before {
  border-right-color: #fff !important;
  border-bottom-color: #fff !important;
}

[type="checkbox"].filled-in:checked+label:after {
  background-color: #663399 !important;
  border-color: #663399 !important;
}

input:not([type]):focus:not([readonly]):not(.fd-input), input[type=text]:not(.browser-default):focus:not([readonly]):not(.fd-input), input[type=password]:not(.browser-default):focus:not([readonly]):not(.fd-input), input[type=email]:not(.browser-default):focus:not([readonly]):not(.fd-input), input[type=url]:not(.browser-default):focus:not([readonly]):not(.fd-input), input[type=time]:not(.browser-default):focus:not([readonly]):not(.fd-input), input[type=date]:not(.browser-default):focus:not([readonly]):not(.fd-input), input[type=datetime]:not(.browser-default):focus:not([readonly]):not(.fd-input), input[type=datetime-local]:not(.browser-default):focus:not([readonly]):not(.fd-input), input[type=tel]:not(.browser-default):focus:not([readonly]):not(.fd-input), input[type=number]:not(.browser-default):focus:not([readonly]):not(.fd-input), input[type=search]:not(.browser-default):focus:not([readonly]):not(.fd-input), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom-color: #663399 !important;
  box-shadow: 0 1px 0 0 #663399 !important;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #663399 !important;
}

[type=radio].with-gap:checked+label:after, [type=radio].with-gap:checked+label:before, [type=radio]:checked+label:after {
  border-color: #663399 !important;
}

[type=radio].with-gap:checked+label:after, [type=radio]:checked+label:after {
  background-color: #663399 !important;
}

[type=radio].with-gap:checked+label:after, [type=radio].with-gap:checked+label:before, [type=radio]:checked+label:after {
  border-radius: #663399 !important;
}

.progress {
  background-color: rgba(102,51,153, 0.3) !important;
}

.progress .indeterminate {
  background-color: #663399 !important;
}

.picker__date-display {
  background-color: #663399 !important;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #663399 !important;
}

.picker__today, .picker__close {
  color: #663399 !important;
}

.picker__nav--prev:hover, .picker__nav--next:hover {
  background: rgba(102,51,153, 0.2) !important;
}

app-mercial-redeem-validator {
  z-index: 1000000000000;
}

@media(max-width: 600px) {
  .picker__frame {
    width: 350px !important;
  }
}
