<div class="container" *ngIf="loaded">
  <div class="card" column analytic has-icon>
    <i primary class="material-icons md-28">local_offer</i>
    <p primary class="card-title" style="color: #639 !important;">{{ offersPosted }}</p>
    <p class="card-subtitle">Total Offers Posted</p>
  </div>
  <div class="card" column analytic has-icon>
    <i primary class="material-icons md-28">video_library</i>
    <p primary class="card-title">{{ offersRedeemed | number }}</p>
    <p class="card-subtitle">Total Offers Redeemed</p>
  </div>
  <div class="card" column analytic has-icon>
    <i primary class="material-icons md-28">play_circle_filled</i>
    <p primary class="card-title">{{ videosPosted | number }}</p>
    <p class="card-subtitle">Total Videos Posted</p>
  </div>
</div>
