.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

app-offer {
  flex-basis: 100%;
  max-width: 60%;
}

.card-title {
  padding-top: 0px !important;
}

@media screen and (max-width: 1000px) {
  app-offer {
    max-width: 90%;
  }
}

.dislike {
  position: absolute;
  left: 40px;
  top: 100px;
  font-size: 44px !important;
  color: red;
}

.approve {
  position: absolute;
  right: 40px;
  top: 100px;
  font-size: 44px !important;
}
