<div class="container">
  <i class="md-28 material-icons dislike" *ngIf="offers.length > 0" clickable (click)="rejectModal.openModal()">thumb_down</i>
  <app-offer *ngIf="offers.length > 0" [offer]="offers[0]"></app-offer>
  <i class="md-28 material-icons approve" *ngIf="offers.length > 0" primary clickable (click)="approveModal.openModal()">thumb_up</i>
</div>

<mz-modal #rejectModal [fixedFooter]="false" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h5 primary>Reject Offer</h5>
  </mz-modal-header>
  <mz-modal-content>
    <mz-select-container>
      <select mz-select [(ngModel)]="reportReason" id="options-select" placeholder="Reason for Reporting">
        <option primary value="{{reason.value}}" *ngFor="let reason of reasons" class="left">{{reason.formatted}}</option>
      </select>
    </mz-select-container>
    <div class="break" small></div>
    <mz-input-container>
      <input mz-input primary aria-label="Expand on report"
        label="Optional..."
        [validate]="false"
        id="expandRep-input"
        placeholder="Expand on Report"
        length="150"
        [(ngModel)]="reportExpand"
        type="text">
    </mz-input-container>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
    <button mz-button [flat]="true" primary mz-modal-close [disabled]="reportReason == ''" (click)="onReportSubmit()">Submit</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #approveModal [fixedFooter]="false" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h5 primary>Are you sure this offer is suitable for Mercial?</h5>
  </mz-modal-header>
  <mz-modal-content>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
    <button mz-button [flat]="true" primary mz-modal-close (click)="onApprove()">Submit</button>
  </mz-modal-footer>
</mz-modal>
